<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/form">
</head>
<body>
  <div class="form">
    <form action="addProduct" method="post">
      <div>
        <label> Product title</label>
        <input type="text" name="name">
      </div>
      
      <div>
        <label >Image url</label>
        <input type="text" name="img">
      </div>

      <button type="submit">Lets goo</button>
    </form>    
  </div>
</body>
</html>