h1 {
  color: red;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 400px;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.product {
  width: 150px;
  padding-bottom: 10px;
  background-color: #ADBC9F;
  text-align: center;
}

.product img {
  width: 100px;
  height: 100px;
  
}